body {
  font-family: Helvetica;
  text-align: center;
}

.main {
  background-image: url("resources/vids & pics/the-flatiron-building.png");
  background-color: black;
}

.main_menu a {
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.local {
  background-image: url("resources\vids & pics\the-flatiron-building.png");
  background-color: black;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

p {
  font-size: 14px;
}

.footer, .footer a {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
